<div class="container">
    <div class="header">
        {{> nav}}
        {{> logo-image}}
        {{> header-bar headerTitle='Twoje imprezy'}}
    </div>
    <div class="main-section">
        <p> Zaloguj się by zobaczyć imprezy</p>
        {{> login-form-events }}
        {{> logout }}
    </div>
    <div class="footer">
        {{> footer}}
    </div>
</div>
