<div class="container">
    <div class="header">
        {{> nav}}
        {{> logo-image}}
        {{> header-bar headerTitle='Twoje Imprezy'}}
    </div>
    <div class="main-section">
        {{>logout url='/user/logout'}}
    </div>
    <div class="footer">
        {{> footer}}
    </div>
</div>
