

<div class="container">
    <div class="header">
        {{> nav}}
        {{> logo-image}}
        {{> header-bar headerTitle='Twoje Imprezy'}}
    </div>
    <main class="main-section">

    </main>
    <div class="footer">
        {{> footer}}
    </div>
</div>
