

<div class="container">
    <div class="header">
        {{> nav}}
        {{> logo-image}}
        {{> header-bar headerTitle='Twoje Imprezy'}}
    </div>
    <main class="main-section">

        {{> main-container }}

        {{>logout url='/user/logout'}}
    </main>
    <footer class="footer">
        {{> footer}}
    </footer>
</div>
