<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
    <div id="picker"></div>
<script>
    function generateCalendar() {
        new Litepicker({
            singleMode: false,
            autoApply: false,
            element: document.getElementById("picker"),
            tooltipNumber: (totalDays) => {
                return totalDays - 1;
            },
        })
        const datePicker = document.getElementsByClassName("litepicker");
        datePicker[0].style.display = "block"
        console.log(datePicker[0].style.display)
        const calendar = document.getElementById("calendar");
        calendar.appendChild(datePicker[0]);
    }
    generateCalendar();
</script>