<script src="https://cdn.jsdelivr.net/npm/color-calendar/dist/bundle.min.js"></script>
<div id="color-calendar"></div>
<script>
    const cal = new Calendar(
    {
        id: '#color-calendar',
        eventsData: events,
        headerColor: "rgba(229, 67, 37, 1)",
        primaryColor: "rgba(229, 67, 37, 1)",
        weekdaysColor: "black",
        dateChanged: (Date, EventData) => { console.log(Date, EventData); },
    })
    console.log(cal.eventsData);
</script>