<script src="https://cdn.jsdelivr.net/npm/color-calendar/dist/bundle.min.js"></script>
<div id="start-calendar"></div>
<script>
    let startDateElement = document.getElementById("select-start-day")
    new Calendar(
    {
        id: '#start-calendar',
        headerColor: "rgba(229, 67, 37, 1)",
        primaryColor: "rgba(229, 67, 37, 1)",
        weekdaysColor: "black",
        dateChanged: (Date) => {
            const newDate = (Date).toString().split(" ");
            startDateElement.value = `${newDate[2]}-${newDate[1]}-${newDate[3]}`;
        }
    });
</script>