<script src="https://cdn.jsdelivr.net/npm/color-calendar/dist/bundle.min.js"></script>
<div id="color-calendar"></div>
<script>
    const myEvents = [
        {
            start: '2021-11-04T06:00:00',
            end: '2021-11-05T20:30:00',
            name: 'Event 1',
            url: 'https://www.cssscript.com',
            desc: 'Description 1',
            // more key value pairs here
        }
    ]
</script>
<script> new Calendar(
    {
        id: '#color-calendar',
        eventsData: myEvents,
        headerColor: "rgba(229, 67, 37, 1)",
        primaryColor: "rgba(229, 67, 37, 1)",
        weekdaysColor: "black"
    })
</script>