<script src="https://cdn.jsdelivr.net/npm/color-calendar/dist/bundle.min.js"></script>
<div id="end-calendar"></div>
<script>
    let endDateElement = document.getElementById("select-end-day")
    new Calendar(
    {
        id: '#end-calendar',
        headerColor: "rgba(229, 67, 37, 1)",
        primaryColor: "rgba(229, 67, 37, 1)",
        weekdaysColor: "black",
        dateChanged: (Date) => {
            const newDate = (Date).toString().split(" ");
            endDateElement.value = `${newDate[2]}-${newDate[1]}-${newDate[3]}`;
            console.log(Date);
        },
    })
</script>