<div class="header-bar">
    <img src="/assets/images/arrow-right.png" class="header-bar__arrow" alt="logo twojaimpreza.net">
<div class="header-bar__title">{{headerTitle}}</div>
<img src="/assets/images/arrow-left.png" class="header-bar__arrow" alt="logo twojaimpreza.net">

</div>