<div class="login">
    <p class="login__info">Zaloguj się</p>
    <form method="post" action="/user/login" class="login__form">

        <label for="login" class="login__label"> Podaj nazwę użytkownika/login</label>
        <div class="login__group">
            <i class="fas fa-user fa-custom"></i>
            <input placeholder="login" type="text" name="login" class="login__login">
        </div>


        <label for="password" class="login__label"> Podaj Hasło</label>
        <div class="login__group">
            <i class="fas fa-key fa-custom"></i>
            <input placeholder="password" type="password" name="password" class="login__password">
        </div>


        <button class="form-home__submit" type="submit">Zaloguj</button>
    </form>
</div>