<div class="navigation">
<ul>
    <li><a href="/">Ogłoszenia</a></li>
    <li><a href="/events/add">Dodaj Ogłoszenie</a></li>
    <li><a href="/user/events">Twoje imprezy</a></li>
    <li><a href="/archive/events">Archiwum Imprez</a></li>
    <li><a href="/user/">Panel Użytkownika</a></li>
   </ul>
</div>