
<div class="navigation">
<ul>
    <li><a href="/">Ogłoszenia</a></li>
    <li><a href="/dodaj-ogloszenie">Dodaj Ogłoszenie</a></li>
    <li><a href="/twoje-imprezy">Twoje imprezy</a></li>
    <li><a href="/archiwum-imprez">Archiwum Imprez</a></li>
    <li><a href="/panel-uzytkownika">Logowanie</a></li>
   </ul>

</div>