
<div class="navigation">
<ul>
    <li><a href="home">Ogłoszenia</a></li>
    <li><a href="dodaj">Dodaj Ogłoszenie</a></li>
    <li><a href="twoje-imprezy">Twoje imprezy</a></li>
    <li><a href="home">Archiwum Imprez</a></li>
    <li><a href="login">Logowanie</a></li>
   </ul>

</div>