<nav class="main-navigation">
    <ul class="main-navigation__list">
        <li class="main-navigation__item"><a class="main-navigation__link" href="/">Ogłoszenia</a></li>
        <li class="main-navigation__item"><a class="main-navigation__link" href="/events/add">Dodaj Ogłoszenie</a></li>
        <li class="main-navigation__item"><a class="main-navigation__link" href="/user/events">Twoje imprezy</a></li>
        <li class="main-navigation__item"><a class="main-navigation__link" href="/archive/events">Archiwum Imprez</a>
        </li>
        <li class="main-navigation__item"><a class="main-navigation__link" href="/user/account">Logowanie</a></li>
    </ul>
</nav>