<div class="container">
    <div class="header">
        {{> nav}}
        {{> logo-image}}
        {{> header-bar headerTitle='Nadchodzące imprezy'}}
    </div>
    <main class="main-section">
        {{> menu }}
        {{> main-container }}
    </main>
    <footer class="footer">
        {{> footer}}
    </footer>
</div>
