<div class="container">
    <div class="header">
        {{> nav}}
        {{> logo-image}}
        {{> header-bar headerTitle='Panel Użytkownika'}}
    </div>
    <div class="main-section">
        <p> Zły login lub hasło</p>
        {{> login-form}}
    </div>
    <div class="footer">
        {{> footer}}
    </div>
</div>
