<div class="container">
    <div class="header">
        {{> nav}}
        {{> logo-image}}
        {{> header-bar headerTitle='Panel Użytkownika'}}
    </div>
    <main class="main-section">
<p>Tutaj będzie witaj {{data.name}} i jakies jego imprezy, fetch i takie tam</p>
        {{> send-dowod}}
        {{> logout}}
    </main>
      <footer class="footer">
        {{> footer}}
    </footer>
</div>
