

<div class="container">
    <div class="header">
        {{> nav}}
        {{> logo-image}}
        {{> header-bar headerTitle='Nadchodzące imprezy'}}
    </div>
    <div class="main-section">
        {{> menu}}
        {{> main-container}}
    </div>
    <div class="footer">
        {{> footer}}
    </div>
</div>
