

<div class="container">
    <div class="header">
        {{> nav}}
        {{> logo-image}}
        {{> header-bar}}
    </div>
    <aside>
adasdsad
    </aside>
    <main>

    </main>
    <footer>

    </footer>
</div>
