
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans MT Condensed", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 915px;
    background-image: url("/assets/images/header-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
    justify-content: center;
    border-top: 8px solid white;
    background: rgb(254, 148, 0);
    background: linear-gradient(180deg, rgba(254, 148, 0, 1) 0%, rgba(246, 38, 0, 1) 100%);
}

.footer__info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__link {
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    font-size: 28px;
}

.main-navigation {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    width: 100%;
    margin: 2px auto 2px;
    background: rgb(229, 67, 37);
    background: linear-gradient(90deg, rgba(229, 67, 37, 1) 0%, rgba(255, 157, 0, 1) 100%);
    border-bottom: 8px solid #fff;
}

.main-navigation__list {
    list-style: none;
}

.main-navigation__item {
    display: inline-block;
}

.main-navigation__link {
    display: block;
    font-family: "Gill Sans MT Condensed", Arial, "Helvetica Neue", Helvetica, sans-serif;;
    letter-spacing: 3px;
    padding: 10px 20px;
    font-size: 38px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.logo {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
}

.logo__img {
    height: 330px;
}

.header-bar {
    display: flex;
    width: 100%;
    height: 90px;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    background: rgb(254, 148, 0);
    background: linear-gradient(180deg, rgba(254, 148, 0, 1) 0%, rgba(246, 38, 0, 1) 100%);
}

.header-bar__title {
    display: block;

    letter-spacing: 3px;
    font-size: 45px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.header-bar__arrow {
    height: 150%;
}

.main-section {
    display: flex;
    align-items: flex-start;
    width: 100%;
    background-image: url("/assets/images/main-background.jpg");
    background-size: auto;
    background-repeat: repeat;
}

.main-section__aside {
    display: flex;
    min-height: 1200px;
    width: 21%;
    background-color: #fff;
    margin: 100px 10px 100px 30px;
    border-radius: 5px;
}

.main-section__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 75%;
    margin: 100px 10px 100px 10px;
    border-radius: 5px;
}

.party-component {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 32%;
    margin: 0 5px 5px 5px;
    background-color: #fff;
    border-radius: 10px;
}

.party-component__main {
    width: 96%;
    margin: 2%;
    background: rgb(69, 217, 215);
    background: linear-gradient(270deg, rgba(69, 217, 215, 1) 0%, rgba(153, 254, 240, 1) 100%);
    border-radius: 10px;
}

.party-component__overview {
    display: flex;
    width: 100%;
    text-transform: capitalize;
    font-size: 20px;
}

.party-component__name {
    color: #E8F42B;
    padding: 5px;
}

.party-component__date {
    color: #fff;
    padding: 5px;
}

.party-component__info {
    display: flex;
    padding: 5px;
    color: #E83D25;
    font-size: 23px;
}

.party-component__info--start, .party-component__info--place {
    padding-right: 10px;
}

.party-component__box-image {

}

.party-component__image
{
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}

.party-component__organizer {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.party-component__organizer-label {
    padding: 5px;
    font-size: 20px;
}

.party-component__organizer-stars {
    display: block;
}

.party-component__organizer-name {
    font-size: 30px;
    font-weight: bold;
}

.party-component__organizer-name--image
{

}

.party-component__box-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.party-component__button {
    display: flex;
    align-items: center;
    border: 4px solid;
    width: 45%;
    font-size: 21px;
    border-radius: 15px;
    margin: 10px;
    padding: 5px 10px;
}

.party-component__button--follow {
    display: flex;
    border-color: #37FF00;
    color: #37FF00;
}

.party-component__button--more-info {
    display: flex;
    border-color: #67FFE2;
    color: #67FFE2;
}

.party-component__button--more-info a {
    text-decoration: none;
    border-color: #67FFE2;
    color: #67FFE2;
}


/*Wyprowadzić do zmiennych w scss nie potrzebne klasy*/
.font-red {
    color: #E83D25;
}

.font-yellow {
    color: #EEF31B;
}

.font-white {
    color: #fff;
}


























.party-buttons i {
    padding: 5px;
}

.added-h2 {
    display: block;
    width: 100%;
}

.add-event-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
}

.form-group-date {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.form-group label {
    display: block;
    padding: 5px 10px;
    color: #000;
    font-size: 30px
}

.callendar-input {
    display: none;
}
